<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<display-name>Opheaven</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>


	<servlet>
		<servlet-name>servlet2</servlet-name>
		<servlet-class>com.capg.servlet.Operation</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>servlet2</servlet-name>
		<url-pattern>/operation</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>add</servlet-name>
		<servlet-class>com.capg.servlets.Add</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>add</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>sub</servlet-name>
		<servlet-class>com.capg.servlets.Sub</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>sub</servlet-name>
		<url-pattern>/sub</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>mul</servlet-name>
		<servlet-class>com.capg.servlets.Mul</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>mul</servlet-name>
		<url-pattern>/mul</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>div</servlet-name>
		<servlet-class>com.capg.servlets.Div</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>div</servlet-name>
		<url-pattern>/div</url-pattern>
	</servlet-mapping>

</web-app>